/* customStyling.css */
.btn-red1 {
  background-color: #a31604;
  color: white;
  border: none;
}

.btn-red1:hover {
    background-color: #a31604;
    color: white;
}

.btn-red2 {
  background-color: #640F05;
  color: white;
  border: none;
}

.btn-red2:hover {
    background-color: #640F05;
    color: white;
}

.btn-orange1 {
  background-color: #f09902;
  color: white;
  border: none;
}

.btn-orange1:hover {
    background-color: #e76e3c;
    color: white;
}

.btn-orange2 {
  background-color: #c14c12;
  color: white;
  border: none;
}

.btn-orange2:hover {
    background-color: #c14c12;
    color: white;
}

.btn-yellow {
  background-color: #f0c518;
  color: white;
  border: none;
}

.btn-yellow:hover {
    background-color: #d4ae14;
    color: white;
}

.btn-blue {
  background-color: #0a0564;
  color: white;
  border: none;
}

.btn-blue:hover {
    background-color: #0a0564;
    color: white;
}

.btn-pink {
  background-color: white;
  color: white;
  border: none;
}

.btn-pink:hover {
    background-color: white;
    color: white;
}

.btn-brown {
  background-color: #440801;
  color: white;
  border: none;
}

.btn-brown:hover {
    background-color: #440801;
    color: white;
}

/* style="color: #801408" */