/* customStyling.css */
.btn-red1 {
  background-color: #a31604;
  color: white;
  border: none;
}

.btn-red1:hover {
    background-color: #a31604;
    color: white;
}

.btn-red2 {
  background-color: #640F05;
  color: white;
  border: none;
}

.btn-red2:hover {
    background-color: #640F05;
    color: white;
}

.btn-orange1 {
  background-color: #f09902;
  color: white;
  border: none;
}

.btn-orange1:hover {
    background-color: #e76e3c;
    color: white;
}

.btn-orange2 {
  background-color: #c14c12;
  color: white;
  border: none;
}

.btn-orange2:hover {
    background-color: #c14c12;
    color: white;
}

.btn-orange3 {
  background-color: #d46a2d;
  color: white;
  border: none;
}

.btn-orange3:hover {
    background-color: #AE5624;
    color: white;
}

.btn-yellow1 {
  background-color: #f0c518;
  color: white;
  border: none;
}

.btn-yellow2:hover {
    background-color: #d4ae14;
    color: white;
}

.btn-yellow2 {
  background-color: #E5A41A;
  color: white;
  border: none;
}

.btn-yellow2:hover {
    background-color: #CE9417;
    color: white;
}

.btn-blue {
  background-color: #0a0564;
  color: white;
  border: none;
}

.btn-blue:hover {
    background-color: #0a0564;
    color: white;
}

.btn-pink1 {
  background-color: pink;
  color: white;
  border: none;
}

.btn-pink2:hover {
    background-color: pink;
    color: white;
}

.btn-pink2 {
  background-color: rgb(252, 214, 214);
  color: white;
  border: none;
}

.btn-pink2:hover {
    background-color: rgb(255, 191, 191);
    color: white;
}

.btn-outline-pink {
  color: #ff66b2;
  border: 1px solid #ff66b2;
  background-color: white;
}

.btn-outline-pink:hover {
  color: #ff66b2;
  border: 1px solid #ff66b2;
  background-color: #ffcbe3;
}

.btn-brown {
  background-color: #440801;
  color: white;
  border: none;
}

.btn-brown:hover {
    background-color: #440801;
    color: white;
}

.h5-red h5 {
  color: #801408;
  font-weight: bold;
}

/* style="color: #801408" */